lab2/BaiTap2lab2/.vs/BaiTap2lab2/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
lab2/BaiTap2lab2/.vs/BaiTap2lab2/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
lab2/BaiTap2lab2/.vs/BaiTap2lab2/CopilotIndices/17.14.734.62261/SemanticSymbols.db
lab2/BaiTap2lab2/.vs/BaiTap2lab2/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
lab2/BaiTap2lab2/.vs/BaiTap2lab2/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
lab2/BaiTap2lab2/.vs/BaiTap2lab2/DesignTimeBuild/.dtbcache.v2
lab2/BaiTap2lab2/.vs/BaiTap2lab2/FileContentIndex/df237f5f-aac7-4f48-9997-72b4f8a752ee.vsidx
lab2/BaiTap2lab2/.vs/BaiTap2lab2/v17/.suo
lab2/BaiTap2lab2/.vs/BaiTap2lab2/CopilotIndices/17.14.734.62261/CodeChunks.db
/lab5
