lab2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
lab2/obj/Debug/net8.0/lab2.assets.cache
lab2/obj/Debug/net8.0/lab2.GeneratedMSBuildEditorConfig.editorconfig
lab2/.vs/lab2/FileContentIndex/98f24c63-31c7-40dd-93ed-7a82346f98a5.vsidx
